smsi-adapter/src/main/resources/wsdl/smsi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sioo.cn/smsi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="smsi"
	targetNamespace="http://www.sioo.cn/smsi/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.sioo.cn/smsi/">
			<xsd:element name="invoke">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commandId" type="xsd:int"></xsd:element>
						<xsd:element name="uId" type="xsd:string"></xsd:element>
						<xsd:element name="body" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="invokeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="invokeRequest">
		<wsdl:part element="tns:invoke" name="parameters" />
	</wsdl:message>
	<wsdl:message name="invokeResponse">
		<wsdl:part element="tns:invokeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="smsi">
		<wsdl:operation name="invoke">
			<wsdl:input message="tns:invokeRequest" />
			<wsdl:output message="tns:invokeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="smsiSOAP" type="tns:smsi">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="invoke">
			<soap:operation soapAction="http://www.sioo.cn/smsi/invoke" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="smsi">
		<wsdl:port binding="tns:smsiSOAP" name="smsiSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
